<div class="row justify-content-center">
  <div class="col-8">
    <form (submit)="save()" [formGroup]="editForm">
      <h2>Create or edit a User</h2>

      <div>
        <input formControlName="id" type="hidden">
      </div>

      <div class="example-container">
        <div>
          <mat-form-field>
            <mat-label>Sender</mat-label>
            <mat-select matNativeControl formControlName="sender" placeholder="Sender" required>
              <mat-option *ngFor="let sender of listAccount" [value]="sender.id">
                {{ sender.text }} - {{sender.extendValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Receiver</mat-label>
            <mat-select matNativeControl formControlName="receiver" placeholder="Receiver" required>
              <mat-option *ngFor="let receiver of listAccount" [value]="receiver.id">
                {{ receiver.text }} - {{receiver.extendValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>

          <mat-form-field>
            <input formControlName="amount" matInput placeholder="Amount" type="number">
            <mat-error *ngIf="f.amount.hasError('required')">Amount is required</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input formControlName="status" matInput placeholder="Status" type="number">
            <mat-error *ngIf="f.status.hasError('required')">Full name is required</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input formControlName="note" matInput placeholder="Note" type="text">
            <mat-error *ngIf="f.note.hasError('required')">Note is required</mat-error>
          </mat-form-field>
        </div>

      </div>

      <div>
        <button (click)="previousState()" [disabled]="loading" class="btn btn-secondary" id="cancel-save" type="button">
          &nbsp;<span>Cancel</span>
        </button>

        <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity" type="submit">
          <span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
