<div>
  <h2 id="page-heading">
    <span>List moneyTransfer</span>

    <!--    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-country" [routerLink]="['/country/new']">-->
    <!--      <span class="glyphicon glyphicon-plus"></span>-->
    <!--      <span>Create a new Country</span>-->
    <!--    </button>-->
    <button [routerLink]="['/money-transfer/new']" class="btn btn-primary float-right jh-create-entity create-country"
            id="jh-create-entity">
      <span class="glyphicon glyphicon-plus"></span>
      <span>Create a new moneyTransfer</span>
    </button>
  </h2>


  <div *ngIf="moneyTransfers?.length === 0" class="alert alert-warning" id="no-result">
    <span>No moneyTransfer found</span>
  </div>

  <div *ngIf="moneyTransfers && moneyTransfers.length > 0" class="table-responsive" id="entities">
    <table aria-describedby="page-heading" class="table table-striped">
      <thead>
      <tr>
        <th scope="col"><span>Mã giao dịch</span></th>
<!--        <th scope="col"><span>Mã giao dịch</span></th>-->
        <th scope="col"><span>Số tiền giao dịch(VNĐ)</span></th>
        <th scope="col"><span>Trạng thái</span></th>
        <th scope="col"><span>Số tài khoản chuyển</span></th>
        <th scope="col"><span>Số tài khoản nhận</span></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let moneyTransfer of moneyTransfers ;trackBy: trackId">
        <td><a [routerLink]="['/moneyTransfer/view', moneyTransfer.id]">{{ moneyTransfer.id }}</a></td>
<!--        <td>{{ moneyTransfer.tradeCode }}</td>-->
        <td>{{ moneyTransfer.amount }}</td>
        <td>{{ moneyTransfer.status }}</td>
        <td>{{ moneyTransfer.sender.accountNumber }}</td>
        <td>{{ moneyTransfer.receiver.accountNumber }}</td>
        <td class="text-right">
          <div class="btn-group">
            <button [routerLink]="['/money-transfer/view', moneyTransfer.id]"
                    class="btn btn-info btn-sm"
                    type="submit">
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button [routerLink]="['/money-transfer/update', moneyTransfer.id]"
                    class="btn btn-primary btn-sm"
                    type="submit">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button (click)="delete(moneyTransfer)" class="btn btn-danger btn-sm"
                    type="submit">
              <span class="glyphicon glyphicon-remove"></span>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="mat-table__bottom">
    <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
    <div>
      <pre>Current page: {{req.page}}</pre>
    </div>
    <mat-paginator [length]="totalRecords"
                   [pageSize]="req.size"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = onPaginateChange($event)">
    </mat-paginator>

<!--    <ngb-pagination (pageChange)="onPaginateChange($event)" [(page)]="req.page" [boundaryLinks]="true"-->
<!--                    [collectionSize]="totalRecords"-->
<!--                    [maxSize]="req.size"-->
<!--                    [rotate]="true"></ngb-pagination>-->

  </div>

</div>
