<form name="deleteForm" (ngSubmit)="confirmDelete(user?.id!)">
    <div class="modal-header">
        <h4 class="modal-title">Confirm delete operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <p id="jhi-delete-country-heading">Are you sure you want to delete this money transfer?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
          <span class="glyphicon glyphicon-remove"></span>&nbsp;<span>Cancel</span>
        </button>

        <button id="jhi-confirm-delete-country" type="submit" class="btn btn-danger">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Delete</span>
        </button>
    </div>
</form>
