<div class="row justify-content-center">
  <div class="col-8">


    <div class="example-container">
      <div class="row">
        <label class="col-4">Mã giao dịch</label>
        <span class="col-4"> {{moneyTransfer.id}}</span>
      </div>
    </div>

    <div class="example-container">
      <div class="row">
        <label class="col-4">Tài khoản chuyển</label>
        <span class="col-4"> {{moneyTransfer.sender.accountNumber}}</span>
      </div>
    </div>

    <div class="example-container">
      <div class="row">
        <label class="col-4">Tên người chuyển</label>
        <span class="col-4"> {{moneyTransfer.sender.accountOwner.fullname}}</span>
      </div>
    </div>

    <div class="example-container">
      <div class="row">
        <label class="col-4">Tài khoản nhận</label>
        <span class="col-4"> {{moneyTransfer.receiver.accountNumber}}</span>
      </div>
    </div>

    <div class="example-container">
      <div class="row">
        <label class="col-4">Tên người nhận</label>
        <span class="col-4"> {{moneyTransfer.receiver.accountOwner.fullname}}</span>
      </div>
    </div>

    <div class="example-container">
      <div class="row">
        <label class="col-4">Số tiền</label>
        <span class="col-4"> {{moneyTransfer.amount}}</span>
      </div>
    </div>

    <div class="example-container">
      <div class="row">
        <label class="col-4">Trạng thái</label>
        <span class="col-4"> {{moneyTransfer.status}}</span>
      </div>
    </div>

    <div class="example-container">
      <div class="row">
        <label class="col-4">Ghi chú</label>
        <span class="col-4"> {{moneyTransfer.note}}</span>
      </div>
    </div>

    <div class="example-container">
      <div class="col-4" style="text-align: center">
          <button (click)="previousState()" [disabled]="loading" class="btn btn-primary" id="cancel-save" type="button">
            &nbsp;<span class="col-4">Quay lại</span>
          </button>
        </div>
    </div>
  </div>
</div>
