<div class="row justify-content-center">
  <div class="col-8">
    <h2>My information</h2>

    <div class="example-container">


      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input [ngModel]="user.username" matInput placeholder="Username" type="text" readonly>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Full name</mat-label>
          <input [ngModel]="user.fullname" matInput placeholder="Full name" type="text" readonly>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input [ngModel]="user.phoneNumber" matInput placeholder="phoneNumber" type="text" readonly>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input [ngModel]="user.email" matInput placeholder="Email" type="text" readonly>
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox [ngModel]="user.isApproved" readonly="true">Approve</mat-checkbox>
        <mat-checkbox [ngModel]="user.isDeleted" readonly="true">Delete</mat-checkbox>
      </div>

      <div>
        <mat-form-field>
          <input [ngModel]="user.birthday" matInput type="date" readonly>
        </mat-form-field>
      </div>

    </div>

  </div>
</div>
