<div class="row justify-content-center">
<form [formGroup]="loginForm" (submit)="onSubmit()">

  <h2 style="text-align: center">Login</h2>
  <div>
    <mat-form-field>
      <input formControlName="username" matInput placeholder="Username" type="text" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
      <mat-error *ngIf="f.username.hasError('required')">Username is required</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="password" matInput placeholder="Password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <mat-error *ngIf="f.password.hasError('required')">Password is required</mat-error>
    </mat-form-field>
  </div>


  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
    <a routerLink="/register" class="btn btn-link">Register</a>
  </div>
</form>
