<div *ngIf="!this.isInit && !this.path.endsWith('/login') ">
  <nav>
    <div id="menu">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/user">User</a></li>
        <li><a href="/document">Document</a></li>
        <li><a href="/money-transfer">Money Transfer</a></li>
        <li><a href="/about">About</a>
          <ul class="sub-menu">
            <li><a href="/#">My Information</a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
