<div>
  <h2 id="page-heading">
    <span>List user</span>

    <!--    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-country" [routerLink]="['/country/new']">-->
    <!--      <span class="glyphicon glyphicon-plus"></span>-->
    <!--      <span>Create a new Country</span>-->
    <!--    </button>-->
    <button [routerLink]="['/user/new']" class="btn btn-primary float-right jh-create-entity create-country"
            id="jh-create-entity">
      <span class="glyphicon glyphicon-plus"></span>
      <span>Create a new user</span>
    </button>
  </h2>


  <div *ngIf="users?.length === 0" class="alert alert-warning" id="no-result">
    <span>No countries found</span>
  </div>

  <div *ngIf="users && users.length > 0" class="table-responsive" id="entities">
    <table aria-describedby="page-heading" class="table table-striped">
      <thead>
      <tr>
        <th scope="col"><span>ID</span></th>
        <th scope="col"><span>Username</span></th>
        <th scope="col"><span>Full name</span></th>
        <th scope="col"><span>Phone number</span></th>
        <th scope="col"><span>Email</span></th>
        <th scope="col"><span>Birthday</span></th>
<!--        <th scope="col"><span>Approve status</span></th>-->
<!--        <th scope="col"><span>Active status</span></th>-->
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users ;trackBy: trackId">
        <td><a [routerLink]="['/user/view', user.id]">{{ user.id }}</a></td>
        <td>{{ user.username }}</td>
        <td>{{ user.fullname }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.birthday }}</td>
<!--        <td *ngIf="user.isApproved; else elseBlock1">Is approved</td>-->
<!--        <td #elseBlock1> Not approved</td>-->
<!--        <td *ngIf="user.isDeleted; else elseBlock2">Inactive</td>-->
<!--        <td #elseBlock2> Actived</td>-->
        <!--        <td ngi>{{ user.username }}</td>-->
        <!--        <td>{{ user.username }}</td>-->
        <td class="text-right">
          <div class="btn-group">
            <button [routerLink]="['/user/view', user.id]"
                    class="btn btn-info btn-sm"
                    type="submit">
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button [routerLink]="['/user/update', user.id]"
                    class="btn btn-primary btn-sm"
                    type="submit">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button (click)="delete(user)" class="btn btn-danger btn-sm"
                    type="submit">
              <span class="glyphicon glyphicon-remove"></span>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
