<div class="row justify-content-center">
  <div class="col-8">
    <h2 style="text-align: center; vertical-align: bottom; height: 100%"> Đây là trang chủ, hiện tại chưa có gì</h2>
    <div class="example-container">
      <!--        <mat-label>Test</mat-label>-->
      <mat-form-field>
        <mat-select [(ngModel)]="testValue" matNativeControl placeholder="Test Cbb" required>
          <mat-option>--Unselected--</mat-option>
          <mat-option *ngFor="let item of arr" [value]="item.key">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <p>You selected: {{testValue}}</p>
  </div>
</div>
<!--<div class="row justify-content-center">-->
<!--  <div class="col-8">-->
<!--    <h2 style="text-align: center; vertical-align: bottom; height: 100%"> Đây là trang chủ, hiện tại chưa có gì</h2>-->
<!--    <mat-form-field>-->
<!--      <mat-select [(value)]="selected">-->
<!--        <mat-option>None</mat-option>-->
<!--        <mat-option value="option1">Option 1</mat-option>-->
<!--        <mat-option value="option2">Option 2</mat-option>-->
<!--        <mat-option value="option3">Option 3</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <p>You selected: {{selected}}</p>-->
<!--  </div>-->
<!--</div>-->
