app-footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 5%;
  text-align: center;
  background: blueviolet;
}

router-outlet{
  position: fixed;
  bottom: 5%;
  right: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  background: blueviolet;
}
