<div class="row justify-content-center">
  <div class="col-8">
    <form (submit)="save()" [formGroup]="editForm">
      <h2>Create or edit a document</h2>

      <div class="example-container">

        <div>
            <input formControlName="file" placeholder="File" type="file" (change)="selectFile($event)">
        </div>
        <div *ngIf="urlFile">
          <a href="{{urlFile}}" target="_blank">{{getFileName(urlFile)}}</a>
        </div>
        <div>
          <button (click)="upload()" class="btn btn-primary" id="save-entity">
            <span>Upload</span>
          </button>
        </div>

      </div>

    </form>
  </div>
</div>
