<div>
  <h2 id="page-heading">
    <span>List document</span>

    <!--    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-country" [routerLink]="['/country/new']">-->
    <!--      <span class="glyphicon glyphicon-plus"></span>-->
    <!--      <span>Create a new Country</span>-->
    <!--    </button>-->
    <button [routerLink]="['/document/new']" class="btn btn-primary float-right jh-create-entity create-country"
            id="jh-create-entity">
      <span class="glyphicon glyphicon-plus"></span>
      <span>Create a new document</span>
    </button>
  </h2>


  <div *ngIf="documents?.length === 0" class="alert alert-warning" id="no-result">
    <span>No document found</span>
  </div>

  <div *ngIf="documents && documents.length > 0" class="table-responsive" id="entities">
    <table aria-describedby="page-heading" class="table table-striped">
      <thead>
      <tr>
        <th scope="col"><span>ID</span></th>
        <th scope="col"><span>Title</span></th>
        <th scope="col"><span>Content</span></th>
        <th scope="col"><span>File</span></th>
        <th scope="col"><span>Publish Date</span></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let document of documents ;trackBy: trackId">
        <td><a [routerLink]="['/document/view', document.id]">{{ document.id }}</a></td>
        <td>{{ document.title }}</td>
        <td>{{ document.content }}</td>
        <td>{{ document.file }}</td>
        <td>{{ document.publishDate }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="mat-table__bottom">
    <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
    <div>
      <pre>Current page: {{req.page}}</pre>
    </div>

    <ngb-pagination (pageChange)="onPaginateChange($event)" [(page)]="req.page" [boundaryLinks]="true" [collectionSize]="totalRecords"
                    [maxSize]="req.size"
                    [rotate]="true"></ngb-pagination>

  </div>

</div>
